// Fonts from google fonts
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer !important;
}
// Colors
$color-primary: #1f2021;
$color-fg-primary: rgb(76, 163, 197);
$color-secondary: #383838b6;
$graident-bg: linear-gradient(114deg, #0d0d0d 50%, #090909 47%, #090909 100%);
$color-text-primary: rgb(114, 179, 244);
$color-text-heading: rgb(123, 189, 255);
$color-text: #f7f7f7f1;

// Fonts
$font-primary: "Space Grotesk", serif;

// Screen Sizes
$tablet-size: 800px;
$laptop-size: 1024px;
$screen-size: 1200px;

//maps
$font-weights: (
  "regular": 300,
  "semi-bold": 600,
  "bold": 800,
);
