@use "./Variables";

.footer {
  &-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px;
    font-family: Variables.$font-primary;
    font-weight: map-get(Variables.$font-weights, "bold");
    font-size: 1.5rem;
    overflow: auto;
    padding-left: 10px;
  }
  &-category-heading {
    color: Variables.$color-text-primary;
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  &-unorderd-lists {
    margin-top: 15px;
  }
  &-list-link-items {
    list-style: none;
  }
  &-links {
    font-size: 1rem;
    margin-top: 10px;
    text-decoration: none;
    color: Variables.$color-text;
    font-weight: map-get(Variables.$font-weights, "regular");
    position: relative;
    display: flex;
    width: fit-content;
    flex-direction: column-reverse;
    cursor: pointer;
    z-index: 1;
  }
  &-links::before {
    margin-top: 5px;
    content: "";
    width: 0%;
    background-color: Variables.$color-fg-primary;
    height: 1px;
  }
  &-links:hover::before {
    width: 100%;
  }
  &-links:hover {
    color: Variables.$color-text-heading;
  }
  &-copy-container {
    font-family: Variables.$font-primary;
    color: Variables.$color-text;
    padding: 20px 0 50px 10px;
  }
}
@media screen and (min-width: 367px) {
  .footer {
    &-container {
      flex-wrap: nowrap;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &-container {
      gap: 55px;
    }
  }
}
