@use "./Variables";
.generator {
  &-container {
    background: Variables.$color-secondary;
    border: 1px solid Variables.$color-text;
    border-radius: 20px;
    padding: 20px;
    margin: 0 5px 50px;
  }
  &-tabs-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    flex-wrap: wrap;
  }
  &-tab-container {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: Variables.$font-primary;
    transition: all 0.2s;
  }
  &-tab-container:has(.active) {
    background: Variables.$color-text-heading;
  }
  &-tab-container:not(:has(.active)) {
    color: Variables.$color-text;
  }
  &-tab-container:not(:has(.active)):hover {
    background: Variables.$color-text-heading;
    opacity: 0.89;
    color: black;
  }
  &-user-choices-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  &-limit-container,
  &-additional-container {
    width: 50%;
  }
  &-heading,
  &-tagline {
    text-align: center;
    color: Variables.$color-text;
    font-family: Variables.$font-primary;
  }
  &-heading {
    font-size: 2.5rem;
    color: Variables.$color-text-heading;
    margin-bottom: 5px;
  }
  &-tagline {
    font-size: 1.2rem;
  }
  &-content {
    background: Variables.$graident-bg;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    color: Variables.$color-text;
    font-family: Variables.$font-primary;
  }
  &-password-heading {
    font-size: 1.8rem;
    color: Variables.$color-text-heading;
  }
  &-password-options {
    padding: 10px;
  }
  &-password-heading {
    margin-bottom: 10px;
  }
  &-password-type {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  &-password-type-special {
    color: Variables.$color-text-heading;
    font-size: 1.5rem;
    font-weight: map-get(Variables.$font-weights, "medium");
  }

  .additional-options {
    &-form {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
    }
  }
}
#additional-options-input[type="checkbox"] {
  accent-color: Variables.$color-text-heading;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
}
.label {
  margin-left: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
