@use "./Variables";

.navbar {
  &-container {
    background: Variables.$graident-bg;
    backdrop-filter: blur(10px);
    padding: 10px 8px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
  }
  &-link {
    text-decoration: none;
  }
  &-left-container {
    cursor: pointer;
  }
  &-logo {
    width: 50px;
  }
  &-left-container {
    display: flex;
    align-items: center;
  }
  &-name {
    color: Variables.$color-text-primary;
    font-family: Variables.$font-primary;
    letter-spacing: 0px;
    font-size: 1.55rem;
  }
  &-right-container {
    display: flex;
    gap: 8px;
  }
  &-get-started-container {
    border: 1px solid Variables.$color-fg-primary;
    background: Variables.$color-secondary;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &-get-started-heading,
  &-login-heading {
    color: white;
    font-family: Variables.$font-primary;
    display: none;
  }
  &-get-started-btn {
    color: Variables.$color-fg-primary;
  }
  &-login-container {
    display: flex;
    align-items: center;
    background: Variables.$color-secondary;
    border: 1.9px solid Variables.$color-fg-primary;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }
}
.spm {
  display: none;
}
@media screen and (max-width: 355px) {
  .navbar {
    &-name {
      display: none;
    }
    &-login-container {
      padding: 5px;
    }
  }
  .spm {
    display: block;
  }
}
@media screen and (min-width: 530px) {
  .navbar {
    &-container {
      padding: 12px;
    }
    &-get-started-heading,
    &-login-heading {
      display: block;
      padding: 5px;
      font-size: 0.9rem;
    }
    &-login-container {
      padding: 5px 8px;
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar-container {
    padding: 1rem;
    justify-content: space-around;
  }
  .navbar-right-container {
    gap: 1rem;
  }
}
