@use "./Variables";

.parent-container {
  background: Variables.$color-primary;
  background: Variables.$graident-bg;
  display: flex;
  justify-content: center;
}
.content-container {
  width: 100%;
}
a {
  text-decoration: none;
  color: Variables.$color-text;
}
@media screen and (min-width: 768px) {
  .content-container {
    max-width: Variables.$tablet-size;
  }
}
@media screen and (min-width: 1024px) {
  .content-container {
    max-width: Variables.$laptop-size;
  }
}
@media screen and (min-width: 1440px) {
  .content-container {
    max-width: Variables.$screen-size;
  }
}
@media screen and (max-width: 250px) {
  body {
    overflow: hidden;
  }
}
